*{
    font-family: 'Montserrat';
}

.bg-light{
    background-color: transparent !important;
}
/* My logo Brand */
.navbar-light .navbar-brand{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar ul li a{
    color: #fff;
}

.navbar ul li a:hover{
    color: darkorange;
}
.navbar-nav a{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}
/* @media only screen and (max-width: 767px){
    .navbar-nav{
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
    }
} */
.bg-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-attachment: fixed;
}
.form-floating{
    position: relative;
}
.icon{
    position: absolute;
    top: calc(50%);
}